# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.VirtuelPrototype.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\User\github\A-fraction-of-time\VirtuelPrototype\.idea\.idea.VirtuelPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
